.rtl .ui-datepicker {
    width: 20em;
    padding: .25em .25em 0;
    display: none;
}

.rtl .ui-datepicker .ui-datepicker-header {
    background: #e5e5e5;
    padding: 6px 0;
}

.rtl .ui-datepicker .ui-datepicker-prev,
.rtl .ui-datepicker .ui-datepicker-next {
    top: 6px;
    width: 2.2em;
    height: 2.2em;
}

.rtl .ui-datepicker .ui-datepicker-title select {
    font-family: "Sahel", sans-serif;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
}

.rtl a:not([href]):not([tabindex]),
.rtl a:not([href]):not([tabindex]):focus,
.rtl a:not([href]):not([tabindex]):hover {
    direction: rtl !important;
}

.rtl .ui-datepicker td {
    padding: 3px;
}