<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="Rasoul Mirzaei Zadeh">
    <!-- <meta name="keywords" content=""> -->
    <link rel="icon" href="static/images/favicon.png" type="image/png" sizes="16x16">

    <!-- Page Title -->
    <title>ایجاد حساب کاربری</title>

    <!-- Fontfaces CSS -->
    <link href="static/css/sahel-font-face.css" rel="stylesheet" media="all">
    <link href="static/plugins/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="static/plugins/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS -->
    <link href="static/plugins/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS -->
    <link href="static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="rtl">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container h-100">
                <div class="login-wrap h-100">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="static/images/zedc.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label>نام کاربری</label>
                                    <input class="au-input au-input--full" type="text" name="username" placeholder="نام کاربری خود را وارد کنید.">
                                </div>
                                <div class="form-group">
                                    <label>ایمیل</label>
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="ایمیل خود را وارد کنید.">
                                </div>
                                <div class="form-group">
                                    <label>کلمه عبور</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="کلمه عبور خود را وارد کنید.">
                                </div>
                                </div> -->
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ایجاد حساب کاربری</button>
                                <div class="small">با ایجاد حساب کاربری، شما با قوانین این سایت موافقت نموده‌اید.</div>
                            </form>
                            <div class="register-link">
                                <p>
                                    <a href="login">ورود به سامانه</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- jQuery JS -->
    <script src="static/plugins/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="static/plugins/bootstrap-4.1/popper.min.js"></script>
    <script src="static/plugins/bootstrap-4.1/bootstrap.min.js"></script>

    <!-- Register JS -->
    <script src="static/js/register.js"></script>

</body>

</html>
<!-- End Document -->